.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  text-align: left;
}

.bannerItem {
  display: flex;
  flex-direction: column;
  padding: 56px 40px 56px 40px;
  gap: 24px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.bannerItem h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  height: 96px;
}

.bannerItem h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.bannerItem h4 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

#leftImageSeconSection {
  background-color: #e63036;
}

#centerImageSeconSection {
  background-image: url('../../assets/images/donnapensa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#rightImageSeconSection {
  background-image: url('../../assets/images/riunione.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gridContainerBottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
  text-align: left;
}

#bottomLeftImageSeconSection {
  background-image: url('../../assets/images/boxer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bottomRightImageSeconSection {
  background-image: url('../../assets/images/donna.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.podcast {
  background-color: white;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .bannerItem {
    padding: 24px 16px 24px 16px;
    gap: 16px;
  }

  .bannerContent {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .bannerItem h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    height: 24px;
  }

  .bannerItem h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .bannerItem h4 {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }

  .arrow {
    display: none;
  }

  .gridContainerBottom {
    grid-template-columns: 1fr;
  }

  #bottomLeftImageSeconSection {
    background: white;
    color: black;
  }
}
