/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: white;
  text-align: left;
}

.bannerItem {
  display: flex;
  flex-direction: column;
  padding: 56px 40px;
  gap: 24px;
}

.bannerItem h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  height: 96px;
}

.bannerItem h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.bannerItem h4 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.bannerContent {
  display: flex;
  gap: 16px;
  align-items: center;
}

.arrow {
  display: block;
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .bannerItem {
    padding: 24px 16px;
    gap: 16px;
  }

  .bannerContent {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .bannerItem h2 {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
  }

  .bannerItem h3 {
    font-size: 14px;
  }

  .bannerItem h4 {
    font-size: 10px;
  }

  .arrow {
    display: none;
  }
} */
