.gridContainerFourth {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  padding: 80px 40px;
  background-image: url("../../assets/images/cena.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.alignToRightFourth {
  width: 35%;
  margin-right: 0;
  margin-left: auto;
}

.textBottomRightFourth {
  font-size: 40px !important;
  font-weight: 700 !important;
  line-height: 48px !important;
  text-align: left;
}

.gridContainerFourthBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#leftImageSeconSectionFourth {
  background: white;
}

#centerImageSeconSectionFourth {
  color: white;
  background-image: url("../../assets/images/man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#rightImageSeconSectionMobile {
  color: white;
  background-image: url("../../assets/images/speech.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .gridContainerFourth {
    display: none;
  }

  .gridContainerFourthBottom {
    display: grid;
    grid-template-columns: 1fr;
  }

  #centerImageSeconSectionFourth {
    background: white;
    color: black;
  }

  #rightImageSeconSectionMobile {
    background: white;
    color: black;
  }
}
