.firstBannerGrid {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  text-align: left;
  background-image: url('../../assets/images/soccorsi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topImage {
  display: flex;
  flex-direction: column;
  padding: 44px 40px 44px 40px;
  gap: 24px;
}

.topImageTag {
  margin-top: 250px;
}

.leftImageTag {
  margin-top: 400px;
}

.videoLeftImage {
  display: none;
}

.topImage h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  width: 50%;
}

.bannerContent {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.bannerContentLeftImage {
  display: flex;
  flex-direction: column;
}

.secondBannerGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  border: 1px solid white;
  color: white;
}

.leftImage {
  display: flex;
  flex-direction: column;
  padding: 56px 40px 56px 40px;
  gap: 24px;
  background-image: url('../../assets/images/ghiacciai.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid white;
}

.leftImage h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}

#rightTopImage {
  background-image: url('../../assets/images/riunione.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#rightBottomImage {
  background-image: url('../../assets/images/bandiera.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rightImage {
  display: flex;
  flex-direction: column;
  padding: 45px;
  gap: 24px;
}

.leftImage.large {
  grid-row: span 2;
}

.secondBannerGridMobile {
  display: none;
}

.thirdBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1de;
  padding: 84px 40px 84px 40px;
  gap: 16px;
  border-top: 1px solid black;
}

.thirdBanner h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.thirdBanner h3 {
  font-size: 14px;
  font-weight: 700;
}

.thirdBannerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.podcast {
  background-color: white;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .topImage {
    padding: 24px 16px 24px 16px;
    gap: 16px;
  }

  .topImageTag {
    margin-top: 100px;
  }

  .leftImageTag {
    margin-top: 50px;
  }

  .topImage h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    width: 100%;
  }

  .bannerContentLeftImage {
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 16px;
  }

  .videoLeftImage {
    display: flex;
    width: 100%;
  }

  .leftImage {
    background: white;
  }

  .leftImage h2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }

  .rightImage {
    display: none;
  }

  .secondBannerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .leftImage.large {
    grid-row: auto;
  }

  .secondBannerGridMobile {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 24px 16px;
    gap: 16px;
    border-top: 1px solid black;
  }

  .thirdBanner {
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    gap: 16px;
    align-items: flex-start;
  }

  .arrow {
    display: none;
  }
}
